{# KRW measure view: info and graphs on KRW measures #}
{% load workspaces %}
{% load utility %}

<div id="textual" class="lizard">
  <div style="width: 100%; height: 130px;" class="img-use-my-size">
    <a href="/measure/measure_graph/{{ view.measure.id }}/measure/?legend-location=7" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
  </div>
  <table style="width: 100%;">
    <tbody>
      <tr>
        <td>Ident</td>
        <td>{% firstof view.measure.ident '(geen code)' %}</td>
      </tr>

      <tr>
        <td>Naam maatregel</td>
        <td>{{ view.measure.title }}</td>
      </tr>

      {% if view.measure.parent %}
      <tr>
        <td>Onderdeel van maatregel</td>
        <td>{{ view.measure.parent }}</td>
      </tr>
      {% endif %}

      <tr>
        <td>KRW maatregel</td>
        <td>
          {% if view.measure.is_KRW_measure %}
          Ja
          {% else %}
          Nee
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>Focus maatregel</td>
        <td>
          {% if view.measure.is_indicator %}
          Ja
          {% else %}
          Nee
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>In SGBP</td>
        <td>
          {% if view.measure.in_sgbp %}
          Ja
          {% else %}
          Nee
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>Beschrijving</td><td>{{ view.measure.description }}</td>
      </tr>

      <tr>
        <td>Maatregel type</td><td>{{ view.measure.measure_type }}</td>
      </tr>

      <tr>
        <td>Waarde en eenheid</td>
        <td>
          {% firstof view.measure.value_sum '-' %}
          {{ view.measure.unit }}
        </td>
      </tr>

      <tr>
        <td>Periode</td>
        <td>{{ view.measure.period }}</td>
      </tr>

      <tr>
        <td>Beleidsdoelen</td>
        <td>
          {% for cat in view.measure.categories.all %}
          {{ cat }}
          {% if not forloop.last %}{{ ', ' }}{% endif%}
          {% endfor %}
        </td>
      </tr>

      <tr>
        <td>Effect</td>
        <td>{{ view.measure.effect_esf_string }}</td>
      </tr>

      <tr>
        <td>ESF doel(en)</td>
        <td>{{ view.measure.target_esf_string }}</td>
      </tr>

      <tr>
        <td colspan="2">
          <fieldset class="x-fieldset x-fieldset-default">
            <legend>Organisaties en kosten</legend>
            <table style="width: 100%;">
              <tr>
                <td>Initiatiefnemer</td><td>{{ view.measure.initiator|default_if_none:"-" }}</td>
              </tr>

              <tr>
                <td>Afdeling</td>
                <td>{{ view.measure.responsible_department|default:"-" }}</td>
              </tr>

              <tr>
                <td>Uitvoerder</td><td>{{ view.measure.executive|default_if_none:"-" }}</td>
              </tr>

              <tr>
                <td>Totale kosten (incl. btw)</td>
                <td>{{ view.measure.total_costs|euro }}</td>
              </tr>

              <tr>
                <td>Investeringskosten (incl. btw)</td>
                <td>{{ view.measure.investment_costs|euro }}</td>
              </tr>

              <tr>
                <td>Exploitatiekosten (incl. btw)</td>
                <td>{{ view.measure.exploitation_costs|euro }}</td>
              </tr>

              <tr>
                <td>Grondkosten (incl. btw)</td>
                <td>{{ view.measure.land_costs|euro }}</td>
              </tr>

              <tr>
                <td colspan="2">

                  <fieldset class="x-fieldset x-fieldset-default">
                    <legend>Kosten verdeling organisaties</legend>

                    <table style="width: 100%;">
                      <thead>
                        <tr>
                          <td>naam</td>
                          <td>percentage</td>
                          <td>opmerking</td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for funding_organization in view.measure.fundingorganization_set.all %}
                        <tr>
                          <td>
                            {{ funding_organization.organization }}
                          </td>
                          <td>
                            {{ funding_organization.percentage|floatformat }}
                          </td>
                          <td>
                            {% firstof funding_organization.comment '-' %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </fieldset>

                </td>
              </tr>
            </table>
          </fieldset>
        </td>
      </tr>

      <tr>
        <td>Aan- afvoergebied(en)</td><td>{{ view.measure.areas.all|join:", " }}</td>
      </tr>

      <tr>
        <td>KRW gebied(en)</td><td>{{ view.measure.waterbodies.all|join:", " }}</td>
      </tr>

      <tr>
        <td>Geometrie aanwezig</td>
        <td>{% if view.measure.geom %}ja{% else %}nee{% endif %}</td>
      </tr>

    </tbody>
  </table>

  {% if view.measure.measure_set.all %}
  <h2>Deelmaatregelen</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <td>Code</td>
        <td>Maatregel</td>
      </tr>
    </thead>
    <tbody>
      {% for submeasure in view.measure.measure_set.all %}
      <tr>
        <td>
          {{ submeasure.ident }}
        </td>
        <td>
          <a href="javascript:Ext.getCmp('portalWindow').linkToPopup(
            'maatregel {{ submeasure.title }}',
            '/measure/measure/{{ submeasure.id }}/',
            {},
            {
              save: [
                'bewerk',
                '/measure/measure_detailedit_portal/',
                {measure_id: '{{ submeasure.id }}'},
                null,
                false,
                'component',
                true
              ],
              search: [
                'Geschiedenis',
                '/measure/history/{{submeasure.id}}',
                {},
                {},
                false,
                'html',
                false,
                false
              ]
            },
            false,
            'html',
            false,
            true
            )">{{ submeasure.title }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
