{# KRW measure view: info and graphs on KRW measures #}
{% extends "lizard_map/lizardgis.html" %}
{% load workspaces %}
{% load utility %}

{% block subtitle %} {{ measure.name }} {% endblock %}

{% block portal-tabs %}
{{ block.super }}
<div id="portal-tab-selected" data-selected="#portal-tab-overzicht"></div>
{% endblock portal-tabs %}

{% block sidebar %}
<div class="sidebarbox">
  <h2>Kaart</h2>
{% comment %}
  <a href="/">
  <img src="{% url lizard_krw.tiny_map waterbody_slug=measure.waterbody.slug %}"
       height="140"
       width="300"
       alt="geselecteerde waterlichaam"/>
  </a>
{% endcomment %}
</div>
<div class="sidebarbox sidebarbox-stretched">
  <h2>
    Info
  </h2>
  <div>
    <dl>
      <dt>Maatregel</dt>
      <dd><a href="{{ measure.get_absolute_url }}">{{ measure.name }}</a></dd>

      {% if measure.description %}
      <dt>Beschrijving</dt>
      <dd>{{ measure.description }}</dd>
      {% endif %}

      <dt>Maatregelverzameling</dt>
      <dd><a href="{{ measure.measure_collection.get_absolute_url }}">{% firstof measure.measure_collection.name '(geen maatregelverzameling)' %}</a></dd>

      {% if measure.identity %}
      <dt>Identiteit</dt>
      <dd>{{ measure.identity }}</dd>
      {% endif %}

      {% if measure.category %}
      <dt>Categorie</dt>
      <dd>{{ measure.category }}</dd>
      {% endif %}

      <dt>Waterlichaam</dt>
      <dd><a href="{{ measure.measure_collection.waterbody.get_absolute_url }}">{{ measure.measure_collection.waterbody }}</a></dd>

      {% if measure.parent %}
      <dt>Bovenliggende maatregel</dt>
      <dd>
        <a href="{{ measure.parent.get_absolute_url }}">
          {{ measure.parent.name }}
        </a>
      </dd>
      {% endif %}

      {% if measure.measure_set.all %}
      <dt>Onderliggende maatregelen</dt>
      <dd>
        {% with "lizard_krw/measure_tree_snippet.html" as ourselves %}
          {% include ourselves %}
        {% endwith %}
      </dd>
      {% endif %}
    </dl>
  </div>
</div>
{% endblock %}

{% block object-actions %}
{# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
<span title="Werkt nog niet" class="notworking ss_sprite ss_printer">Printen</span> |
<span title="Werkt nog niet" class="notworking ss_sprite ss_application_go">Exporteren</span> |
{% comment %}
<span class="ss_sprite ss_help"><a href="{% url help %}" target="_blank">Help</a></span>
{% endcomment %}
{% endblock %}


{% block content %}
<div id="textual">
  <h2>Maatregel: {{ measure.name }}</h2>
  <div style="width: 100%; height: 130px;" class="img-use-my-size">
{% comment %}
    <a href="{% url lizard_krw.measure_graph measure_id=measure.id %}" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
{% endcomment %}
  </div>
  <table class="generic-table">
    <tbody>
      <tr>
        <th>Naam maatregel</th><td>{{ measure.title }}</td>
      </tr>

      <tr>
        <th>Deelgebied</th><td>{{ measure.measure_collection.area_set.all|join:", " }}</td>
      </tr>

      <tr>
        <th>Code</th><td>{% firstof measure.ident '(geen code)' %}</td>
      </tr>

      <tr>
        <th>SGBP type</th><td>{{ measure.measure_type }}</td>
      </tr>

      <tr>
        <th>SGBP</th><td>{{ measure.value_sum }} {{ measure.unit }}</td>
      </tr>

      <tr>
        <th>Initiatiefnemer</th><td>{{ measure.initiator|default_if_none:"-" }}</td>
      </tr>

      <tr>
        <th>Uitvoerder</th><td>{{ measure.executive|default_if_none:"-" }}</td>
      </tr>

      <tr>
        <th>Totale kosten (incl. optelling deelmaatregelen)</th>
        <td>{{ measure.costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Investeringskosten (incl. optelling deelmaatregelen)</th>
        <td>{{ measure.investment_costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Exploitatiekosten (incl. optelling deelmaatregelen)</th>
        <td>{{ measure.exploitation_costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Periode</th>
        <td>{{ measure.period }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Stand van zaken</h2>
  <table class="generic-table">
    <tbody>
      {% with measure.status_moment as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Status (geaggregeerd)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.date }})</td>
        </tr>
        <tr>
          <th>Maatgevende maatregel</th>
          <td>{{ status_moment.measure.name }}</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving geaggregeerde status</th><td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Status (geaggregeerd)</th><td>Geen statusinfo beschikbaar. De maatregel of (een van de) onderliggende maatregelen heeft geen status.</td>
        </tr>
        {% endif %}
      {% endwith %}

      {# Own status without aggregation #}
      {% with measure.status_moment_self as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Status (eigen)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.date }})</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving eigen status</th>
          <td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Status (geaggregeerd)</th>
          <td>Geen statusinfo beschikbaar</td>
        </tr>
        {% endif %}
      {% endwith %}

      {# Planning #}
      {% with measure.status_moment_planned as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Planning (geaggregeerd)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.date }})</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving planning</th><td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Planning</th><td>Geen planning beschikbaar</td>
        </tr>
        {% endif %}
      {% endwith %}
    </tbody>
  </table>

  <h2>Financierende organisaties</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <th>Maatregel</th>
        <th>Organisatie</th>
        <th>Bedrag</th>
      </tr>
    </thead>
    <tbody>
      {% for funding_organization in measure.fundingorganization_set.all %}
      <tr>
        <td>
          {{ measure.name }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
      {% endfor %}
      {% for measure_part in measure.get_parts %}
        {% for funding_organization in measure_part.fundingorganization_set.all %}
      <tr>
        <td>
          {{ measure_part.name }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          Totaal
        </td>
        <td>
          {{ measure.funding_organization_cost_sum|euro }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
