{# KRW measure view: info and graphs on KRW measures #}
{% load workspaces %}
{% load utility %}

<div id="textual" class="lizard">
  <h2>Maatregel: {{ view.measure.title }}</h2>
  <div style="width: 100%; height: 130px;" class="img-use-my-size">
{% comment %}
    <a href="{% url lizard_krw.measure_graph measure_id=measure.id %}" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
{% endcomment %}
  </div>
  <table class="generic-table">
    <tbody>
      <tr>
        <th>Naam maatregel</th><td>{{ view.measure.title }}</td>
      </tr>

      <tr>
        <th>Deelgebied</th><td>{{ view.measure.waterbodies.all|join:", " }}</td>
      </tr>

      <tr>
        <th>Code</th><td>{% firstof view.measure.ident '(geen code)' %}</td>
      </tr>

      <tr>
        <th>SGBP type</th><td>{{ view.measure.measure_type }}</td>
      </tr>

      <tr>
        <th>SGBP</th><td>{{ view.measure.value_sum }} {{ view.measure.unit }}</td>
      </tr>

      <tr>
        <th>Initiatiefnemer</th><td>{{ view.measure.initiator|default_if_none:"-" }}</td>
      </tr>

      <tr>
        <th>Uitvoerder</th><td>{{ view.measure.executive|default_if_none:"-" }}</td>
      </tr>

      <tr>
        <th>Totale kosten (incl. optelling deelmaatregelen)</th>
        <td>{{ view.measure.costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Investeringskosten (incl. optelling deelmaatregelen)</th>
        <td>{{ view.measure.investment_costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Exploitatiekosten (incl. optelling deelmaatregelen)</th>
        <td>{{ view.measure.exploitation_costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Periode</th>
        <td>{{ view.measure.period }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Stand van zaken</h2>
  <table class="generic-table">
    <tbody>
      {% with view.measure.status_moment as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Status (geaggregeerd)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.planning_date }})</td>
        </tr>
        <tr>
          <th>Maatgevende maatregel</th>
          <td>{{ status_moment.measure.title }}</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving geaggregeerde status</th><td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Status (geaggregeerd)</th><td>Geen statusinfo beschikbaar. De maatregel of (een van de) onderliggende maatregelen heeft geen status.</td>
        </tr>
        {% endif %}
      {% endwith %}

      {# Own status without aggregation #}
      {% with view.measure.status_moment_self as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Status (eigen)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.planning_date }})</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving eigen status</th>
          <td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Status (geaggregeerd)</th>
          <td>Geen statusinfo beschikbaar</td>
        </tr>
        {% endif %}
      {% endwith %}

      {# Planning #}
      {% with view.measure.status_moment_planned as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Planning (geaggregeerd)</th>
          <td>{{ status_moment.status }} (vanaf {{ status_moment.planning_date }})</td>
        </tr>
        {% if status_moment.description %}
        <tr>
          <th>Beschrijving planning</th><td>{{ status_moment.description }}</td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th>Planning</th><td>Geen planning beschikbaar</td>
        </tr>
        {% endif %}
      {% endwith %}
    </tbody>
  </table>

  <h2>Financierende organisaties</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <th>Maatregel</th>
        <th>Organisatie</th>
        <th>Bedrag</th>
      </tr>
    </thead>
    <tbody>
      {% for funding_organization in view.measure.fundingorganization_set.all %}
      <tr>
        <td>
          {{ view.measure.title }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
      {% endfor %}
      {% for measure_part in view.measure.get_parts %}
        {% for funding_organization in measure_part.fundingorganization_set.all %}
      <tr>
        <td>
          {{ measure_part.title }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          Totaal
        </td>
        <td>
          {{ view.measure.funding_organization_cost_sum|euro }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
