{# info on suited KRW measures for a specific waterbody #}

<div id="textual" class='lizard'>
  <h2>Groslijst geschikte maatregelen</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <th>Code</th><th>Omschrijving</th><th>Landelijk</th>
      </tr>
    </thead>
    <tbody>
      {% for info in suitable_measures %}
      <tr>
        <td>{{info.measure.ident}}</td><td>{{info.measure.title}}</td><td>{{info.is_country_wide}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

