{# info and graphs on KRW measures for a specific waterbody #}

<div id="textual" class='lizard'>
  <table>
    <tr>
        <td>
            Titel
        </td>
        <td>
            Type Maatregel
        </td>
        <td>
            Status
        </td>
        <td>
            Deelmaatregel
        </td>
        <td>
            KRW maatregel
        </td>
        <td>
            Focus maatregel
        </td>
        <td>
            Initiatiefnemer
        </td>
        <td>
            Bron
        </td>
    </tr>
    {% for measure in main_measures %}
    <tr>
        <td>
            <a href="javascript:Ext.getCmp('portalWindow').linkToPopup(
              'maatregel {{ measure.title }}',
              '/measure/measure/{{ measure.id }}/',
              {},
              {
                save: [
                  'bewerk',
                  '/measure/measure_detailedit_portal/',
                  {measure_id: '{{ measure.id }}'},
                  null,
                  false,
                  'component',
                  true
                ],
                plus: [
                  'deelmaatregel toevoegen',
                  '/measure/measure_detailedit_portal/',
                  {parent_id: {{ measure.id }}, area_id: Lizard.CM.getContext().object.id},
                  null,
                  false,
                  'component',
                  true
                ],
                search: [
                  'Geschiedenis',
                  '/measure/history/{{measure.id}}',
                  {},
                  {},
                  false,
                  'html',
                  false,
                  false
                ]
              },
              false,
              'html',
              false,
              true
              )">{{ measure.title }}</a>
        </td>
        <td>
            {{ measure.measure_type }}
        </td>
        <td>
            {% if measure.status_moment %} {{ measure.status_moment.status }}{% endif %}
        </td>
        <td>
            {% if measure.parent %}
            Ja
            {% else %}
            Nee
            {% endif %}
        </td>
        <td>
            {% if measure.is_KRW_measure %}
            Ja
            {% else %}
            Nee
            {% endif %}
        </td>
        <td>
            {% if measure.is_indicator %}
                Ja
            {% else %}
                Nee
            {% endif %}
        </td>        <td>
            {{ measure.initiator }}
        </td>
        <td>
            {{ measure.get_import_source_display }}
        </td>
    </tr>
    {% endfor %}
  </table>
</div>

