{# info and graphs on KRW measures for a specific waterbody #}

<div id="textual" class='lizard'>
  <h2>Maatregelen voor {{ waterbody.name }}</h2>
  <div style="width: 100%; height: 250px;" class="img-use-my-size">
    <a href="/measure/summary/{{ waterbody.ident }}/measure_graph/" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
  </div>

  <h2>Maatregelen</h2>
  <ul>
    {% for measure in main_measures %}
    <li><a href="javascript:Ext.getCmp('portalWindow').linkToPopup('maatregel {{ measure.title }}','/measure/measure/{{ measure.id }}/',{},{save: ['bewerk', '/measure/measure_detailedit_portal/',{measure_id: '{{ measure.id }}'}, null, false, 'component', true]}, false )">{{ measure.title }}{% if measure.status_moment %} ({{ measure.status_moment.status }}){% endif %}</a>
        {% with "lizard_measure/measure_tree_snippet.html" as ourselves %}
          {% include ourselves %}
        {% endwith %}
    </li>
    {% endfor %}
  </ul>
</div>

