{# info and graphs on KRW measures for a specific waterbody #}

<div id="textual" class='lizard'>
  {% for score_table in score_tables %}
  <h1>{{ score_table.title }}</h1>
  <table>
    <thead>
      <tr>
        <th>Instellingen</th>
        <th>Waarde</th>
        <th>Kleur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Doel 2015</td>
        <td>{{ score_table.score.target_2015|default_if_none:"-" }}</td>
        <td><div style="width: 15px; height: 15px; background: {{ score_table.color_target_2015 }}">&nbsp;</div></td>
      </tr>
      <tr>
        <td>Doel 2027</td>
        <td>{{ score_table.score.target_2027|default_if_none:"-" }}</td>
        <td><div style="width: 15px; height: 15px; background: {{ score_table.color_target_2027 }}">&nbsp;</div></td>
      </tr>
    </tbody>
  </table>
  <br />
  <table>
    <thead>
      <tr><th>Tijdreeks</th><th>Waarde</th><th></th><th></th></tr>
    </thead>
    <tbody>
      {% for row in score_table.data %}
      <tr>
        <td>{{ row.timestamp }}</td>
        <td>{{ row.value|floatformat }}</td>
        <td>{{ row.comment }}</td>
        <td><div style="width: 15px; height: 15px; background: {{ row.color }}">&nbsp;</div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  {% endfor %}
</div>

