{# info and graphs on KRW measures for a specific waterbody #}

<div id="textual" class='lizard'>
  <h2>Maatregelen voor {{ waterbody.name }}</h2>
  <div style="width: 100%; height: 250px;" class="img-use-my-size">
    <a href="/measure/measure_graph/{{ waterbody.ident }}/focus/?legend_location=0" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
  </div>

  <h2>Maatregelen</h2>
  <table>
    <tr>
        <td>
            Titel
        </td>
        <td>
            Type Maatregel
        </td>
        <td>
            Status
        </td>
        <td>
            Deelmaatregel
        </td>
        <td>
            KRW maatregel
        </td>
        <td>
            Initiatiefnemer
        </td>
        <td>
            Bron
        </td>
    </tr>
    {% for measure in main_measures %}
    <tr>
        <td>
            <a href="javascript:Ext.getCmp('portalWindow').linkToPopup(
              'maatregel {{ measure.title }}',
              '/measure/measure/{{ measure.id }}/',
              {},
              {
                save: [
                  'bewerk',
                  '/measure/measure_detailedit_portal/',
                  {measure_id: '{{ measure.id }}'},
                  null,
                  false,
                  'component',
                  true
                ],
                search: [
                  'Geschiedenis',
                  '/measure/history/{{measure.id}}',
                  {},
                  {},
                  false,
                  'html',
                  false,
                  false
                ]
              },
              false,
              'html',
              false,
              true
              )">{{ measure.title }}</a>
        </td>
        <td>
            {{ measure.measure_type }}
        </td>
        <td>
            {% if measure.status_moment %} {{ measure.status_moment.status }}{% endif %}
        </td>
        <td>
            {% if measure.parent %}
            Ja
            {% else %}
            Nee
            {% endif %}
        </td>
        <td>
            {% if measure.is_KRW_measure %}
            Ja
            {% else %}
            Nee
            {% endif %}
        </td>
        <td>
            {{ measure.initiator }}
        </td>
        <td>
            {{ measure.get_import_source_display }}
        </td>
    </tr>
    {% endfor %}
  </table>
</div>

