{# KRW measures screen #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} KRW gegevens {% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>KRW gegevens</h2>
  <ul class="automatic-tree filetree">
    <li>
      <span class="folder">scores</span>
      <ul>
        <li class="workspace-acceptable file"
            data-name="KRW score fyto"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-fyto"}'>
          fyto
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score flora"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-flora"}'>
          flora
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score fauna"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-fauna"}'>
          fauna
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score vis"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-vis"}'>
          vis
        </li>
      </ul>
    </li>
    <li class="workspace-acceptable file"
        data-name="KRW maatregelen"
        data-adapter-class="adapter_krw"
        data-adapter-layer-json='{"layer": "measure"}'>
      maatregelen
    </li>
  </ul>
</div>

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
