{# KRW measures screen #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} KRW gegevens {% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>KRW gegevens</h2>
  <ul class="automatic-tree filetree">
    <li>
      <span class="folder">scores</span>
      <ul>
        <li class="workspace-acceptable file"
            data-name="KRW score fyto"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-fyto"}'>
          <span class="file">fyto</span>
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score flora"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-flora"}'>
          <span class="file">flora</span>
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score fauna"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-fauna"}'>
          <span class="file">fauna</span>
        </li>
        <li class="workspace-acceptable file"
            data-name="KRW score vis"
            data-adapter-class="adapter_krw"
            data-adapter-layer-json='{"layer": "score-vis"}'>
          <span class="file">vis</span>
        </li>
      </ul>
    </li>
    <li class="workspace-acceptable file"
        data-name="KRW maatregelen"
        data-adapter-class="adapter_krw"
        data-adapter-layer-json='{"layer": "measure"}'>
      <span class="file">maatregelen</span>
    </li>
  </ul>
</div>

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
