{# KRW measure view: info and graphs on KRW measures #}
{% extends "lizard_ui/lizardbase.html" %}
{% load workspaces %}
{% load utility %}

{% block subtitle %} Maatregelverzameling {{ measure_collection.name }} {% endblock %}

{% block portal-tabs %}
{{ block.super }}
<div id="portal-tab-selected" data-selected="#portal-tab-overzicht"></div>
{% endblock portal-tabs %}

{% block sidebar %}
<div class="sidebarbox">
  <h2>Kaart</h2>
  <a href="/">
  <img src="{% url lizard_krw.tiny_map waterbody_slug=measure_collection.waterbody.slug %}"
       height="140"
       width="300"
       alt="geselecteerde waterlichaam"/>
  </a>
</div>
<div class="sidebarbox sidebarbox-stretched">
  <h2>
    Info
    <span class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
          rel="#summary-datepicker">&nbsp;</span>
  </h2>
  <div>
    {% date_popup %}
    <dl>
      <dt>Maatregelverzameling</dt>
      <dd><a href="{{ measure.measure_collection.get_absolute_url }}">{{ measure_collection.name }}</a></dd>

      <dt>Waterlichaam</dt>
      <dd><a href="{{ measure_collection.waterbody.get_absolute_url }}">{{ measure_collection.waterbody }}</a></dd>

      <dt>Maatregelen</dt>
      <dd>
        <ul>
          {% for measure in measure_collection.measure_set.all %}
          <li><a href="{{ measure.get_absolute_url }}">{{ measure.name }}{% if measure.status_moment %} ({{ measure.status_moment.status }}){% else %} (geen status){% endif %}</a>
            {% with "lizard_krw/measure_tree_snippet.html" as ourselves %}
              {% include ourselves %}
            {% endwith %}
          </li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>
</div>
{% endblock %}

{% block object-actions %}
{# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
<span title="Werkt nog niet" class="notworking ss_sprite ss_printer">Printen</span> |
<span title="Werkt nog niet" class="notworking ss_sprite ss_application_go">Exporteren</span> |
<span class="ss_sprite ss_help"><a href="{% url help %}" target="_blank">Help</a></span>
{% endblock %}


{% block content %}
<div id="textual">
  <h2>Maatregelverzameling: {{ measure_collection.name }}</h2>
  <div style="width: 100%; height: 130px;" class="img-use-my-size">
    <a href="{% url lizard_krw.measure_collection_graph measure_collection_id=measure_collection.id %}"
       class="replace-with-image">
      afbeelding nog niet geladen
    </a>
  </div>
  <table class="generic-table">
    <tbody>
      <tr>
        <th>Naam maatregelverzameling</th>
        <td><a href="{{ measure.measure_collection.get_absolute_url }}">{{ measure_collection.name }}</a></td>
      </tr>

      <tr>
        <th>Deelgebied</th>
        <td>{{ measure_collection.area_set.all|join:", " }}</td>
      </tr>

      <tr>
        <th>Urgentie</th>
        <td>{{ measure_collection.urgency }}</td>
      </tr>

      <tr>
        <th>Verantwoordelijke organisatie</th>
        <td>{{ measure_collection.responsible_organization }}</td>
      </tr>

      <tr>
        <th>Verantwoordelijke afdeling</th>
        <td>{{ measure_collection.responsible_department }}</td>
      </tr>

      <tr>
        <th>Geraamde kosten totaal</th>
        <td>{{ measure_collection.costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Investeringskosten</th>
        <td>{{ measure_collection.investment_costs_sum|euro }}</td>
      </tr>

      <tr>
        <th>Exploitatiekosten</th>
        <td>{{ measure_collection.exploitation_costs_sum|euro }}</td>
      </tr>

      {% if measure_collection.need_co_funding %}
      <tr>
        <th colspan="2">Medefinanciering is vereist</th>
      </tr>
      {% else %}
      <tr>
        <th colspan="2">Medefinanciering is niet vereist</th>
      </tr>
      {% endif %}

    </tbody>
  </table>

  <h2>Stand van zaken</h2>
  <table class="generic-table">
    <tbody>
      {% with measure_collection.status_moment as status_moment %}
        {% if status_moment %}
        <tr>
          <th>Status</th><td>{{ status_moment.status }}</td>
        </tr>
        {% ifnotequal measure status_moment.measure %}
        <tr>
          <th>Maatgevende maatregel</th>
          <td>{{ status_moment.measure.name }}</td>
        </tr>
        {% endifnotequal %}
        <tr>
          <th>Sinds</th><td>{{ status_moment.datetime }}</td>
        </tr>
        <tr>
          <th>Beschrijving</th><td>{{ status_moment.description }}</td>
        </tr>
        {% else %}
        <tr>
          <th>Status</th><td>Geen statusinfo beschikbaar</td>
        </tr>
        {% endif %}
      {% endwith %}
    </tbody>
  </table>

  <h2>Maatregelen</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <th>Maatregel</th>
        <th>Periode</th>
        <th>Omvang</th>
        <th>Kosten</th>
        <th>Investeringskosten</th>
        <th>Exploitatiekosten</th>
      </tr>
    </thead>
    <tbody>
      {% for measure in measure_collection.measure_set.all %}
      <tr>
        <td>
          <a href="{{ measure.get_absolute_url }}">
          {{ measure.name }}
          </a>
        </td>
        <td>
          {% firstof measure.period '(geen periode)' %}
        </td>
        <td>
          {{ measure.value }} {{ measure.unit }}
        </td>
        <td>
          {{ measure.total_costs|euro }}
        </td>
        <td>
          {{ measure.investment_costs|euro }}
        </td>
        <td>
          {{ measure.exploitation_costs|euro }}
        </td>
      </tr>
      {# Add descendants #}
      {% for measure_part in measure.get_descendants %}
      <tr>
        <td>
          <a href="{{ measure_part.get_absolute_url }}">
          {{ measure_part.name }}
          </a>
        </td>
        <td>
          {% firstof measure_part.period '(geen periode)' %}
        </td>
        <td>
          {{ measure_part.value }} {{ measure_part.unit }}
        </td>
        <td>
          {{ measure_part.total_costs|euro }}
        </td>
        <td>
          {{ measure_part.investment_costs|euro }}
        </td>
        <td>
          {{ measure_part.exploitation_costs|euro }}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          Totaal maatregelverzameling
        </td>
        <td>
          {{ measure_collection.costs_sum|euro }}
        </td>
        <td>
          {{ measure_collection.investment_costs_sum|euro }}
        </td>
        <td>
          {{ measure_collection.exploitation_costs_sum|euro }}
        </td>
      </tr>
    </tfoot>
  </table>

  <h2>Financierende organisaties</h2>
  <table class="generic-table">
    <thead>
      <tr>
        <th>Maatregel</th>
        <th>Organisatie</th>
        <th>Bedrag</th>
      </tr>
    </thead>
    <tbody>
      {% for measure in measure_collection.measure_set.all %}
      {% for funding_organization in measure.fundingorganization_set.all %}
      <tr>
        <td>
          {{ measure.name }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
      {% endfor %}
      {% for measure_part in measure.get_descendants %}
        {% for funding_organization in measure_part.fundingorganization_set.all %}
      <tr>
        <td>
          {{ measure_part.name }}
        </td>
        <td>
          {{ funding_organization.organization }}
        </td>
        <td>
          {{ funding_organization.cost|euro }}
        </td>
      </tr>
        {% endfor %}
      {% endfor %}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          Totaal
        </td>
        <td>
          {{ measure_collection.funding_organization_cost_sum|euro }}
        </td>
      </tr>
    </tfoot>
  </table>

{% endblock %}
