{# info and graphs on KRW measures for a specific waterbody #}
{% extends "lizard_map/lizardgis.html" %}
{% load workspaces %}

{% block subtitle %} Maatregelen voor {{ waterbody.name }} {% endblock %}


{% block portal-tabs %}
{{ block.super }}
<div id="portal-tab-selected" data-selected="#portal-tab-overzicht"></div>
{% endblock portal-tabs %}

{% block sidebar %}
<div class="sidebarbox">
  <h2>Kaart</h2>
  <a href="/">
  <img src="{% url lizard_krw.tiny_map waterbody_slug=waterbody.slug %}"
       height="140"
       width="300"
       alt="geselecteerde waterlichaam"/>
  </a>
</div>
<div class="sidebarbox sidebarbox-stretched">
  <h2>
    Info
    <span class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
          rel="#summary-datepicker">&nbsp;</span>
  </h2>
  <div>
    {% date_popup %}
    <div>
      <p>Bovenaan wordt een afbeelding getoond voor alle indicator maatregelen.</p>

      <p>Onder worden de maatregelen op een rij gezet, inclusief eventuele deelmaatregelen. Door op de links te klikken kunnen maatregelen in meer detail bekeken worden.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block object-actions %}
{# Look up icon classes in http://www.ajaxbestiary.com/Labs/SilkSprite/ #}
<span title="Werkt nog niet" class="notworking ss_sprite ss_printer">Printen</span> |
<span title="Werkt nog niet" class="notworking ss_sprite ss_application_go">Exporteren</span> |
<span class="ss_sprite ss_help"><a href="{% url help %}" target="_blank">Help</a></span>
{% endblock %}


{% block content %}
<div id="textual">
  <h2>Maatregelen voor {{ waterbody.name }}</h2>
  <div style="width: 100%; height: 250px;" class="img-use-my-size">
    <a href="{% url lizard_krw.krw_measure_graph waterbody_slug=waterbody.slug %}" class="replace-with-image">
      afbeelding nog niet geladen
    </a>
  </div>
  <ul>
    {% for measure in main_measures %}
    <li><a href="{{ measure.get_absolute_url }}">{{ measure }}{% if measure.status_moment %} ({{ measure.status_moment.status }}){% endif %}</a>{% if measure.is_indicator %} (indicator){% endif %}
        {% with "lizard_krw/measure_tree_snippet.html" as ourselves %}
          {% include ourselves %}
        {% endwith %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
